/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
!/log/.keep
/tmp
.idea
public/assets
public/sitemaps
public/system
# если установлен Paperclip
Procfile
# про него я еще расскажу
config/deploy/
# файлы Capistrano
/shared/
# файлы, которых нет в репозитории, но они будут скопированы на сервер при первом деплое приложения
coverage
.sass-cache