h1= t('.editing_comment')
/! todo locale
= render 'form'
= link_to t('show'),[@commentable, @comment], class: 'btn btn-default'
| \
= link_to t('back'), [@commentable, @comment], class: 'btn btn-default'
