<h2><%= t('.all_comments') %></h2>

<p><%= link_to t('comments.new.new_comment'), [:new, @commentable, :comment]%></p>
<!--todo а вот и решение для встроенной ссылки и элементов [:new, @commentable, :comment] -->


<div class="row">
  <div class="col-md-8">
    <h2 class="page-header"><%= t('.all_comments') %></h2>
    <section class="comment-list">
      <%= render 'comments' %>
    </section>
  </div>
</div>