- if notice
  .alert.alert-success.alert-dismissible role="alert" 
    button.close aria-label="Close" data-dismiss="alert" type="button" 
      span aria-hidden="true"  ×
    = notice
.col-sm-12.blog-main
  = render 'application/adsense_article_top_adaptive'
  h1= @article.title
  = image_tag @article.image.url(:original), class: 'img-responsive', alt: "#{@article.title}"
  = @article.content.html_safe if @article.content
  p.blog-post-meta
    = time_ago_in_words(@article.pub_date)
    | &nbsp #{t(:tags)}:
    | &nbsp #{show_article_tags(@article)}
  hr/
  .col-xs-12
    h2= t('.article_comments')
    /! TODO render Disgus view
    #disqus_thread
    javascript:
      /!* * * CONFIGURATION VARIABLES * * */
      | var disqus_shortname = 'badalloffninja';
      | var disqus_identifier = 'article_#{@article.id.to_s}';
      /!* * * DON'T EDIT BELOW THIS LINE * * */
      | (function() {
        | var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        | dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        | (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      | })();
    noscript
      | Please enable JavaScript to view the
      a href="https://disqus.com/?ref_noscript" rel="nofollow"  comments powered by Disqus.
    = render 'comments/comments'
    = render 'comments/form'
    hr/
  - if can? :edit, @article
    = link_to t('helpers.submit.article.update'), edit_article_path(@article), class: 'btn btn-default'
    | \
    /! todo locale
  = link_to t('back'), articles_path, class: 'btn btn-default'
