<div class="blog-header-bg">
  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title"><%= t '.blog_title' %></h1>
      <p class="lead blog-description"><%= t '.blog-description' %></p>
    </div>
  </div>
  <hr/>
</div>
