= content_for :page_title, t('pages.about_me.page_title')
= stylesheet_link_tag 'high_voltage/about_me', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'high_voltage/about_me', 'data-turbolinks-track' => true

h1
  = t('.hello');