<nav class="navbar navbar-default navbar-fixed-top blog-masthead">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Badalloff.ninja', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to t('articles_link'), articles_path, class: 'blog-header-nav-item' %></li>
      </ul>
      <form class="navbar-form navbar-right" role="">
        <!--<div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default"><%= fa_icon 'search'  %></button>-->
        <%= link_to_unless_current("<img src='/flags/en_14.png'> En".html_safe, { locale: 'en' }, { class: 'btn btn-success' }) do
          link_to("<img src='/flags/ru_14.png'> Ru".html_safe, { locale: 'ru' }, { class: 'btn btn-success' })
        end %>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>